.contenedor {
  background: #0e0e0eee;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.6em;
  font-size: 1em;
  padding: 2.5rem;
  width: 700px;
  color: #999;
  border: 1px solid #303030;
  margin: auto;
}

.cuerpo-principal {
  display: flex;
  align-items: space-between;

  & > img {
    border: 1px solid #8c70a9;
    object-fit: cover;
    height: 350px;
    width: 300px;
    margin-left: 0.5rem;
  }

  & > .txt {
    width: 50%;
    padding-left: 2rem;

  & > h1 {
    color: #8c70a9;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
  }

    & > h2 {
      color: #FFF;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      font-size: 0.85em;      
    }
  
    & > p {
      text-align: justify;
    }
  }
}

.contenedor > .datos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 0.25rem 0;
  margin-top: 1rem;

  & > .dato {
    border: 1px solid #303030;
    width: 24.7%;
    padding: 0.5rem 0;
    line-height: 1em;

    & > h2 {
      color: #8c70a9;
      text-transform: uppercase;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 0.8em;
      margin: 0;
    }

    & > p {
      text-align: center;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-weight: 600;
    }
  }
}

.contenedor > .enlaces {
  border: 1px solid #303030;
  width: 97.4%;
  margin-top: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  color: #8c70a9;
  text-align: center;
}

.contenedor {

  & > .month {

    position: relative;
    margin-bottom: 2rem;

    & > h2 {
      color: #8c70a9;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 1.2em;
      margin-bottom: 1.5rem;
    }

    & > .line {
      position: absolute;
      left: 92px;
      top: 2rem;
      bottom: 0;
      width: 1px;
      background: #303030;
    }

    & > .entry {

      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 1.25rem;

      & > .day {
        width: 60px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
      }

  &.same-day {

    & > .day {
      visibility: hidden;
    }

  }

      & > .marker {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        z-index: 2;
        background: #0e0e0e;
      }

      &.mission > .marker {
        border-radius: 0;
        transform: rotate(45deg);
      }

      &.complete > .marker {
        background: #8c70a9;
      }

      &.active > .marker {
        border: 2px solid #FFF;
      }
      
      & > .text-content {

        flex: 1;

        & > .title {
          color: #cfcfcf;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 0.9em;
        }

        & > .info {
          margin-top: .35rem;
          color: #777;
          font-size: .85em;
        }

      }

      & > .status {
        border: 1px solid #303030;
        border-radius: 30px;
        padding: .45rem 1rem;
        font-size: .7em;
        text-transform: uppercase;
        color: #999;
      }

      &.complete {

        & > .day, & > .status {
          color: #8c70a9;
        }

        & > .marker {
          background: #8c70a9;
        }

      }

      &.active {

        & > .day {
          color: #FFF;
        }

        & > .marker {
          border: 2px solid #FFF;
        }

      }

      &.abandoned {

        & > .day {
          color: #666;
        }

        & > .marker {

          position: relative;
          border-radius: 0;
          background: transparent;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 6px;
            width: 14px;
            height: 2px;
            background: #666;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }

        }

      }

    }

  }

}
body {
  background: black;
}
.contenedor {
  background: #0e0e0eee;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.6em;
  font-size: 1em;
  padding: 2.5rem;
  width: 700px;
  color: #999;
  border: 1px solid #303030;
  margin: auto;
}
.relaciones {

  display: flex;
  gap: 2rem;
  margin: auto;

  & > .leyenda {

    width: 180px;
    border: 1px solid #303030;
    padding: 1.5rem;

    & > h2 {
      color: #FFF;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: .9em;
      margin-bottom: 1.5rem;
    }

    & > .filtro {

      color: #999;
      text-transform: uppercase;
      font-size: .8em;
      cursor: pointer;
      margin-bottom: 1rem;
      transition: .3s;

      &:hover,
      &.active {
        color: #8c70a9;
      }

      & > i {
        width: 20px;
      }

    }

  }



  & > .lista-relaciones {
    max-height: 460px;
    overflow: auto;
    padding-right: 1rem;
    flex: 1;

    & > .relacion {

      display: flex;
      align-items: center;
      gap: 1.5rem;

      border-bottom: 1px solid #303030;
      padding: 1rem 0;

      & > img {

        width: 120px;
        height: 120px;
        object-fit: cover;
        filter: grayscale(100%);

      }

      & > .info {

        flex: 1;

        & > h3 {

          font-family: "Cinzel Decorative", serif;
          font-size: 1rem;
          margin: 0 0 .4rem;

        }

        & > span {

          display: block;
          text-transform: uppercase;
          color: #FFF;
          font-size: .8em;
          margin-bottom: .7rem;

        }

        & > p {

          margin: 0;
          color: #999;
          font-size: 0.8em;
          line-height: 1.2em;
        }

      }

      & > .icono {

        width: 30px;
        text-align: center;
        color: #999;
        font-size: 1.2rem;

      }

    }

  }

}

.relacion.romanos h3 {
  color: #8c70a9;
}

.relacion.nors h3 {
  color: #629da7;
}

.relacion.griegos h3{
  color: #dd9a3c;
}

.relacion.amazonas h3 {
  color: #99668b;
}

.relacion.valkirias h3 {
  color: #ffb347;
}

.relacion.cazadoras h3 {
  color: #888;
}

.relacion.criaturas h3 {
  color: #888;
}
